# Packages
node_modules/
yarn.lock

# Log files
logs/
*.log

# Miscellaneous
.tmp/
.vscode/

# NPM ignore
.eslintignore
.eslintrc.json
.gitattributes
.github/
.gitignore
docs/
test/
src/
tsconfig.json
tslint.json
webpack.config.js
